<div class="dashboard-conteiner">
    <div class="my-posts">

    </div>
    <div class="new-post-button-conteiner">
        <button class="new-post-button" type="submit">New Post</button>
    </div>
</div>

<script src="./js/dashboard.js"></script>