<div class="dashboard-conteiner">
    <input class="input-title" type="text" placeholder="Title">
    <input class="input-message" type="text" placeholder="Message">
    <button class="public-button" type="submit">Public</button>
</div>

<script src="./js/dashboard.js"></script>