<div class="dashboard-conteiner">
    <div class="my-posts">
        {{#each myPosts}}
            <div class="my-post-conteiner-each" id={{id}}>
                <div class="my-post-header">
                    <div class="my-post-title">
                        {{title}}
                    </div>
                    <div class="my-post-date">
                        {{exhibition_date}}
                    </div>
                </div>
                <div class="my-post-message">
                    {{description}}
                </div>
            </div>
        {{/each}}
    </div>
    <div class="new-post-button-conteiner">
        <button class="new-post-button" type="submit">New Post</button>
    </div>
</div>
