<div class="login-conteiner">
    <input class="input" type="text" placeholder="Username" name="username">
    <input class="input" type="text" placeholder="Password" name="psw">
    <button class="button" type="submit">Login</button>
</div>